.cart-modal {
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  animation: slide-left 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .cart-modal {
    width: 400px;
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
