.cart-content {
  font-family: Arial, Helvetica, sans-serif;
}

.top-title {
  font-weight: 700;
  margin-bottom: 2rem;
}

.close-arrow {
  float: left;
  cursor: pointer;
}

.title-text {
  text-align: center;
  text-transform: uppercase;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.continue-shopping {
  text-align: center;
  margin-top: 1rem;
  text-decoration: underline;
  cursor: pointer;
}
