.product-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2rem 0;
}

.product-wrapper:last-child {
  margin-bottom: 2rem;
}

.product {
  display: flex;
  align-items: flex-start;
}

.image {
  width: 80px;
  height: 80px;
}

.image img {
  width: inherit;
  height: inherit;
}

.details {
  margin-left: 10px;
}

.product-name:hover {
  color: #00b7e0;
  cursor: pointer;
}

.remove {
  cursor: pointer;
}

@media (min-width: 768px) {
  .image {
    width: 120px;
    height: 120px;
  }
}