.total {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.promocode-section {
  color: #c1c1c1;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.promocode-section:hover {
  color: #000;
  cursor: pointer;
}

.promocode-input {
  font-size: 14px;
}

.overwrite {
  color: #000;
}

.apply {
  margin-top: 1rem;
  background-color: #000;
  border-color: #000;
  width: 30%;
}

.checkout {
  margin-top: 1.5rem;
  text-transform: uppercase;
}
