.product-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}

.title-laptop {
  display: none;
}

.image-container {
  width: 100%;
}

.main-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 1rem;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

.product-thumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.thumbnail img {
  width: inherit;
  height: inherit;
}

.arrow-left {
  position: absolute;
  left: 1%;
  top: 50%;
  z-index: 10;
  color: lightgray;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  right: 1%;
  top: 50%;
  z-index: 10;
  color: lightgray;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.price-container {
  font-weight: bold;
  display: flex;
  align-items: end;
}

.price-container .symbol {
  margin-right: 3px;
  line-height: 2;
}

.price-container .number {
  font-size: 26px;
  line-height: 1;
}

.quantity-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.control {
  border: 1px solid #ccc;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.control .decrease,
.control .increase {
  padding: 5px 10px;
  width: 2rem;
  background-color: white;
  border-color: white;
  color: #ccc;
}

.control .increase:hover,
.control .increase:active,
.control .decrease:hover,
.control .decrease:active {
  cursor: pointer;
  color: #039cbe;
  background-color: #fff;
  border-color: #fff;
}

.control input {
  width: 2rem;
  height: 2rem;
  border: none;
  text-align: center;
  font-size: 16px;
}

.control input:focus {
  outline: none;
}

.description {
  margin-top: 1rem;
  text-align: justify;
}

.wishlist {
  display: flex;
  align-items: center;
  color: #00b7e0;
  cursor: pointer;
  margin-top: 1rem;
}

.wishlist:hover {
  color: #039cbe;
}

.wishlist i {
  margin-right: 8px;
}

.wishlist .text {
  text-transform: uppercase;
}

.divider {
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .product-container {
    flex-direction: row;
    margin: 2rem auto;
  }

  .product-details {
    padding-left: 5rem;
    width: 50%;
  }

  .title {
    display: none;
  }

  .title-laptop {
    display: block;
    font-weight: bold;
    font-size: 20px;
  }

  .image-container {
    width: 50%;
  }

 
}
