.product {
  width: 100%;
  margin-right: 2%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-decoration: none;
}

.product img {
  border: 1px solid #ccc;
  width: 100%;
  height: 250px;
  min-height: 250px;
  margin-bottom: 10px;
}

.product-name,
.product-price {
  text-decoration: none;
  color: #000;
}

@media (min-width: 500px) {
  .product {
    width: calc(1 / 2 * 100% - 2%);
    margin-right: 2%;
  }
}

@media (min-width: 768px) {
  .product {
    width: calc(1 / 3 * 100% - 2%);
    margin-right: 2%;
  }
}

@media (min-width: 1025px) {
  .product {
    width: calc(1 / 4 * 100% - 1%);
    margin-right: 1%;
  }
}
