.quantity-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.control {
  border: 1px solid #ccc;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.control .decrease,
.control .increase {
  padding: 5px 10px;
  width: 2rem;
  background-color: white;
  border-color: white;
  color: #ccc;
}

.control .increase:hover,
.control .increase:active,
.control .decrease:hover,
.control .decrease:active {
  cursor: pointer;
  color: #039cbe;
  background-color: #fff;
  border-color: #fff;
}

.control input {
  width: 2rem;
  height: 2rem;
  border: none;
  text-align: center;
  font-size: 16px;
}

.control input:focus {
  outline: none;
}
