.cart {
  margin-top: 1rem;
  width: 100%;
  height: fit-content;
}

.cart .top {
  display: flex;
  justify-content: space-between;
}

.cart .edit {
  text-decoration: underline;
  cursor: pointer;
  color: #a1a1a1;
}

@media (min-width: 768px) {
  .cart {
    margin-top: 0;
    flex-basis: 38%;
  }
}
