.header {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.product-section,
.total-section {
  width: 100%;
}

.total-section {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .product-section {
    width: 60%;
  }

  .total-section {
    width: 35%;
    margin-top: 0;
  }
}
