.checkout-wrapper {
  display: flex;
  flex-direction: column;
}

.info {
  width: 100%;
}

@media (min-width: 768px) {
  .checkout-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .info {
    flex-basis: 58%;
  }
}
