.top-bar {
  background-color: #00e01cd4;
  color: #fff;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  padding: 0 5%;
  z-index: 999;
  border-bottom: 1px solid #ccc;
}

.header .laptop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.user-icon {
  cursor: pointer;
}

.ipad-searchBar {
  display: block;
  margin-bottom: 3rem;
}

.laptop-searchBar {
  display: none;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  font-size: 20px;
}

.icons > * {
  margin-left: 10px;
}

@media (min-width: 1024px) {
  .header {
    height: 5rem;
  }

  .ipad-searchBar {
    display: none;
  }

  .laptop-searchBar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
