.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  position: relative;
  margin-right: 20px;
}


.icon {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.icon img {
  width: inherit;
  height: inherit;
}

.badge {
  background: #00b7e0;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  position: absolute;
  font-size: 14px;
  top: -10px;
  left: 50%;
  border-radius: 9999px;
  min-width: 25px;
}

/* .badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
} */
