.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-left: 20px;
  border: transparent;
}

.input-field:focus {
  outline: transparent;
}

@media (min-width: 1024px) {
  .input-icons {
    width: 50%;
    margin-top: 0;
  }
}
