.dropdown {
  position: fixed;
  top: 4rem;
  right: 2rem;
  width: 15rem;
  height: fit-content;
  z-index: 20;
  background-color: white;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.welcome {
  background-color: #ccc;
  padding: 1rem;
}

.dropdown ul {
  padding: 0;
  margin: 0;
}

.dropdown a,
.dropdown li {
  display: block;
  text-decoration: none;
  color: gray;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dropdown a:hover,
.dropdown li:hover {
  color: #fff;
  background-color: #00b7e0;
  cursor: pointer;
  margin-left: 0rem;
  margin-right: 0rem;
  padding-left: 1rem;
}
