.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  margin-top: 3rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
