@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #fff;
}

.divider {
  border: 0.1px solid #000;
  margin: 1rem 0;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.input-full,
.input-half {
  width: 100%;
}

.invalid input,
.invalid textarea {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus,
.invalid textarea:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
  margin-top: -1rem;
  font-size: 14px;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }

  .input-half {
    width: 50%;
  }

  .input-half:first-child {
    margin-right: 3%;
  }
}
