.auth-modal {
  top: 10vh;
  left: 5%;
  width: 90%;
  animation: slide-bottom 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .auth-modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-bottom {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(1rem);
  }
}
