.header {
  background-color: #00b7e0;
  color: #fff;
  font-weight: bold;
  margin: -1.5rem -1.5rem 1rem;
  padding: 1rem 1.5rem;
  font-size: 20px;
  text-transform: uppercase;
}

.create-account {
  text-align: center;
  margin-top: 1rem;
  display: block;
}

.create {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
}

.alert {
  color: red;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .create-account {
    display: flex;
    justify-content: center;
  }
}
