button {
  font: inherit;
  cursor: pointer;
  background-color: #00b7e0;
  border: 1px solid #00b7e0;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  margin-top: 1rem;
}

button:hover,
button:active {
  background-color: #039cbe;
  border-color: #00b7e0;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

button a {
  text-decoration: none;
  color: #fff;
}
