.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input .label-wrapper {
  margin-bottom: 10px;
}

.input label {
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 3px;
}

.input input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

input:focus {
  border-color: #00b7e0;
}
